body{
  background-color: black;
  font-size: 22px;
  font-family: helvetica;
  color: seashell;
  opacity: 0.9;
  text-align: center;
  margin-left: 10px

}
.logo{
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid seashell;
  height: 50px;
  margin-left: 10px;
  color: white;


}
.head{
  background-color: black;
  height: 69px;
  position: fixed;
  width: 100%;
  height: auto;

}
li {
  display:inline;
  list-style: none;
  text-align:center;
  font-size: 22px;

}
#links :visited{
  color: seashell;
  text-decoration: underline;
}
.flex-container{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
#mission{
  background-image:url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg");
  height: 700px;
  width: 100%;
}
#mission .text{
  margin: auto;
  background-color: black;
  width: 100%;
  font-size: 22px;
}
#pic{
  background-image:url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-locations-background.jpg");
  height: 500px;
  align-content: center;
  padding: 15px;
}

}
.flex-container-items{
  display:flex;
  justify-content: center:
  flex-direction: row;
  flex-wrap: wrap;
}

.flexc{
  display:flex;
  justify-content:space-around;
  flex-direction: row;
  flex-wrap: wrap;
  padding:40px 40px;
}
#one{
  background-color:black;
  width: 300px;
  height: auto;
  opacity: 1;
  font-size: 22px;
}
#two{
  background-color:black;
  width: 300px;
  height: auto;
  opacity: 1;
  font-size: 22px;

}
#three{
  background-color:black;
  width: 300px;
  height: auto;
  opacity: 1;
  font-size: 22px;
}

.contact{
  font-size: 22px;
  height: 200px
}
h6{
text-align: left;
}
