body{
  background-color: black;
  font-family: helvetica;
  color: seashell;
  opacity: 0.9;
  text-align: center;
  margin-left: 10px
}
.logo{
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid seashell;
  height: 50px;
  margin-left: 10px;

}
.head{
  background-color: black;
  height: 69px;
  position: fixed;
  width: 100%;
}
li{
  display:inline-flex;
  list-style: none;
  position: relative;
  text-align: center;
}
.text{
  width: 1200px;
  text-align: center;
  background-color: black;
}
.mission{
  background-image:url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg");
  height: 700px;
}
.locationpic{
  background-image:url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-locations-background.jpg");
  height: 500px;
}
.location{
  background-color: black;
}
.month{
  display:inline-flex;
  flex-wrap: wrap;

}
.contact{
  height: 200px
}
p{
  text-align: left;
}
