body{
  background-color: black;
  font-family: helvetica;
  color: seashell;
  opacity: 0.9;
  text-align: center;
  margin-left: 10px
}
.logo{
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid seashell;
  height: 50px;
  margin-left: 10px;

}
.head{
  background-color: black;
  height: 69px;
  position: fixed;
  width: 100%;
}
li{
  display:inline-flex;
  list-style: none;
  position: relative;
  text-align: center;
}
.flex-container{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
#mission{
  background-image:url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg");
  height: 700px;
}
#mission .text{
  margin: auto;
  background-color: black;
  width: 100%;
}
#pic{
  background-image:url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-locations-background.jpg");
  height: 500px;
  align-content: : center;
  padding-top: 50px;
}
.flexc{
  display:flex;

  justify-content: space-around;
  padding:15px;


}
#one{
  text-align: center;
  background-color:black;
  width: 300px;
  height: auto;
  

}
#two{
  background-color:black;
  width: 300px;
  height: auto;
}
#three{
  background-color:black;
  width: 300px;
  height: auto;
}
.month{
  display: flex;


}
.contact{
  height: 200px
}
p{
  text-align: left;
}
